<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Photography Site</title>
        <meta name = "viewport" content = "width=device-width, intial-scale=1.0">
        <link rel="stylesheet" href="main.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <header class = "header">
            <div class = "nav-section">
                <div class = "brand-and-navBtn">
                    <span class = "brand-name">
                        Muskan Rajpoot
                    </span>
                    <span class = "navBtn flex">
                        <i class = "fas fa-bars"></i>
                    </span>
                </div>

                <nav class = "top-nav">
                    <ul>
                        <li><a href = "index.html">Home</a></li>
                        <li><a href = "gallery.html">Gallery</a></li>
                        <li><a href = "blog.html" >Blog</a></li>
                        <li><a href = "contact.html" class = "active">Contact</a></li>
                    </ul>
                </nav>
                <span class = "search-icon">
                    <i class = "fas fa-search"></i>
                </span>
            </div>

            <div class = "container about">
                <div class = "about-content">
                    <div class = "about-img flex">
                        <img src =  "ARE_YAAR.jpeg" alt = "photographer image" >
                    </div>
                    <h2>I'm Muskan Rajpoot</h2>
                    <h3>Photographer | Traveller</h3>
                    <blockquote>
                        "Photography is a way of feeling, of touching, of loving. What you have caught on film is captured forever ... It remembers little things, long after you have forgotten everything."
                        <span>-Aaron Siskind</span>
                    </blockquote>
                </div>

                <div class = "social-icons">
                    <ul>
                        <li>
                            <a href = "#"><i class = "fab fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href = "#"><i class = "fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href = "https://www.instagram.com/muskanr_336/"><i class = "fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href = "https://www.linkedin.com/in/muskan-rajpoot-3960a920b"><i class = "fab fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <section class = "section-five">
            <div class = "container">
                <div class = "contact-top">
                    <h3>CONTACT ME</h3>
                    
                </div>

                <div class = "contact-middle">
                    <div>
                        <span class = "contact-icon">
                            <i class = "fas fa-map-signs"></i>
                        </span>
                        <span>Address</span>
                        <p>Mangla Vihar 2, Kanpur(208015)</p>
                    </div>

                    <div>
                        <span class = "contact-icon">
                            <i class = "fas fa-phone"></i>
                        </span>
                        <span>Contact Number</span>
                        <p>7080334006</p>
                    </div>

                    <div>
                        <span class = "contact-icon">
                            <i class = "fas fa-paper-plane"></i>
                        </span>
                        <span>Email Address</span>
                        <p>muskanr336@gmail.com</p>
                    </div>

                    <div>
                        <span class = "contact-icon">
                            <i class = "fas fa-globe"></i>
                        </span>
                        <span>Website</span>
                        <p>www.MuskanRajpoot.com</p>
                    </div>
                </div>

                <div class = "contact-bottom">
                    <form class = "form">
                        <input type = "text" placeholder="Your Name">
                        <input type = "email" placeholder="Your Email">
                        <input type = "text" placeholder="Subject">
                        <textarea rows = "9" placeholder="Message"></textarea>
                        <input type = "submit" class = "btn" value = "Send Message">
                    </form>

                    <div style="width: 100%">
                        <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Psit%20,Kanpur,India+(KIRTI%20VARDHAN%20SINGH)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/sport-gps/">hiking gps</a></iframe>
                    </div>
                </div>
            </div>
        </section>


        <footer class = "footer">
            <div class = "footer-container container">
                <div>
                    <h2>MUSKAN RAJPOOT</h2>
                    <p>The company is itself a very successful company. We work hard to achieve our goals and to reach to the desired target in the best possible manner. Our moto is to reach our goal and to teach the world about photography. We as a group of young people belive in learning while teaching so we provide free online classes to new photographers and to those who wants to learn.</p>
                </div>
                <div>
                    <h3>Free Subscription!</h3>
                    <p>Come learn and work with one of the most adorable and hardworking bunch of people who works to achieve there goals. Apply for free subscription and reach to us for any help regarding photography.</p>

                    <div class = "subs">
                        <i class = "fas fa-envelope"></i>
                        <input type = "email" id = "email" placeholder="Email Address">
                        <button type = "submit">SUBSCRIBE</button>
                    </div>
                </div>
            </div>
            <p>&copy; Copyright@MuskanRajpoot</p>
        </footer>
        

        <script src="script.js"></script>
    </body>
</html>